@media only screen and (min-width: 992px) {
  /* ------------Article2/Article4------------ */

  .desktop {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .article6 section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
    margin: 0 5rem;
  }
}
