@media only screen and (min-width: 768px) {
  /* ------------Article2/Article4------------ */

  .article2,
  .article3,
  .article4,
  .article5,
  .article6,
  .article7 {
    height: 110vh;
  }
  .article2 section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .article4 section {
    display: flex;
    flex-wrap: nowrap;
  }

  .article2 img,
  .article4 img {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }
}
